*.class

#idea
.idea/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/core/target/
/maven-plugin/target/

temp/
/test-resources/target/
/test-project/target/
/testproject-client/target/

# python
*.pyc
/python/.idea/
/python/fconfig.egg-info/
/python/fconfig/__pycache__/
/test-project-gradle/.nb-gradle/
/test-project-gradle/build/
/gradle-plugin/.nb-gradle/
.gradle
python/dist/