#pragma once

#include <future-config/Config_object.h>
#include <string>

{% for include in includes %}
#include "{{ include }}"
{% endfor %}

{% for class in class_data %}
struct {{ class.class_name }} {
	{% for property in class.properties %}
		{% if property.mode == "scalar" %}
	{{ property.type }} {{ property.key }};
		{% else if property.mode == "object" %}
	{{ property.class_name }} {{ property.key }};
		{% else if property.mode == "array" %}
	std::vector<{{ property.array_type_name }}> {{ property.key }};
		{% endif %}
	{% endfor %}

	explicit {{ class.class_name }}(const fc::Config_object& config_object){% if class.non_array_properties_count > 0 %}:
		{% for property in class.properties %}
			{% if not loop.is_last %}
				{% set divider = "," %}
			{% else %}
				{% set divider = "" %}
			{% endif %}
		{{ property.key }}(config_object.get<{{ property.type }}>("{{ property.key }}")){{ divider }}
		{% endfor %}
	{% endif %}
	{% if class.array_properties_count > 0 %}{
		{% for property in class.properties %}
			{% if property.mode == "array" %}
		for (const auto& item: config_object.get_array<{{ property.item_type }}>("{{ property.key }}")) {
			{{ property.key }}.emplace_back(item);
		}
			{% endif %}
		{% endfor %}
	};
	{% else %}
	{{empty_body}};
	{% endif %}
};

{% endfor %}